@model IEnumerable<WegLeagueTest.Riot.BanData>

@{
    ViewData["Title"] = "ChampionsDataView";
}

<h1>ChampionsDataView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumBans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.key)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumBans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.key)
            </td>
        </tr>
}
    </tbody>
</table>
