@model WegLeagueTest.Riot.BanData

@{
    ViewData["Title"] = "ChampionsDataView";
}

<h1>ChampionsDataView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                rank
            </th>
            <th>
                role
            </th>
            <th>
                Champion name
            </th>
            <th>
                Tier
            </th>
            <th>
                pick percentage
            </th>
            <th>
                Ban percentage
            </th>
            <th>
                Counter picks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChampionBans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercBan)
            </td>
        </tr>
}
    </tbody>
</table>
